<header class="header">
  <div class="header-content">
    <div class="container">

      <!-- Button to open the menu -->
      <button (click)="openMenu()" class="btn-navbar only-mobile">
        <i class="icon-menu"></i>
      </button>
      <!-- End of button to open the menu -->

      <div class="logo">
        <a href="/">
          <img src="/assets/images/logo.svg" width="154" height="49" alt="Logo AirLine to the people">
        </a>
      </div>
      <div class="menu-container">

        <!-- Beginning of menu -->
        <nav class="main-menu" [ngClass]="{'menu-open': menuOpen}">

          <!-- Beginning of header block within the menu -->
          <div class="only-mobile header-menu">
            <button class="btn-close" (click)="closeMenu()"><i class="icon-close"></i></button>
            <div class="logo">
              <a href="/" aria-label="go to home web site">
                <img src="/assets/images/logo.svg" width="154" height="49" alt="Logo AirLine to the people">
              </a>
            </div>
            <!-- End of header block within menu -->

            <button class="btn-language"><i class="icon-language"></i>English</button>
          </div>
          <ul class="menu-list">
            <li class="menu-list__item"><a href="">Check-in</a></li>
            <li class="menu-list__item"><a href="">Manage my booking</a></li>
            <li class="menu-list__item"><a (click)="openSubMenu()">Information
                <div class="submenu-content" [ngClass]="{'open-submenu': subMenuOpen}">

                  <!-- Beginning of header block within the submenu -->
                  <div class="only-mobile header-menu">
                    <button class="btn-close" (click)="closeSubMenu()"><i class="icon-close"></i></button>
                    <div class="logo">
                      <a href="/" aria-label="go to home web site">
                        <img src="/assets/images/logo.svg" width="154" height="49" alt="Logo AirLine to the people">
                      </a>
                    </div>
                    <button class="btn-language"><i class="icon-language"></i>English</button>
                  </div>
                  <!-- End of header block within submenu -->

                  <p class="subtitle only-mobile">Information</p>
                  <ul class="submenu-list">
                    <li class="submenu-list__item"><a href="">Help center</a></li>
                    <li class="submenu-list__item"><a href="">Flight state</a></li>
                    <li class="submenu-list__item"><a href="">Airplanes</a></li>
                    <li class="submenu-list__item"><a href="">Routes</a></li>
                  </ul>
                </div>
              </a></li>
          </ul>
        </nav>
        <!-- End of menu -->

        <!-- Button to change the language -->
        <div class="language">
          <button class="btn-language"><i class="icon-language"></i>English</button>
        </div>
        <!-- End of button to change the language -->

      </div>
    </div>
  </div>
</header>
