<section class="main-banner">
  <div class="block-image">
    <img src="/assets/images/john-mcarthur.jpg" width="1900" height="1267" alt="banner image">
  </div>
  <div class="block-content">
    <h1 class="block-content__title">Take a rest</h1>
    <p class="block-content__text">Discover all the offers available at the best prices for the whole country and the world</p>
    <div class="block-content__action">
      <button class="btn btn-primary">
        Buy
      </button>
    </div>
  </div>
</section>
