button{
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none ;
}
.btn{
  &-primary{
    background: color(tertiary, 400);
    border-radius: 10rem;
    color: color(grayscale, white);
    display: block;
    font-size: map-get($sizes, mbase );
    font-weight: bold;
    max-width: 15.2rem;
    padding: 0.8rem 1.6rem;
    width: 100%;
    &:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
}
