<section class="banner-discover">
  <div class="container">
    <div class="block-content">
      <div class="image">
        <img src="/assets/images/alexandr-podvalny.jpg" alt="niño en la playa">
      </div>
      <div class="block-description">
        <p class="block-description__title">Our destinations <span>Discover the world</span></p>
        <p class="block-description__text">Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
      </div>
    </div>
  </div>
</section>
