<section class="offers-block">
  <div class="container">
    <h2 class="offers-block__title">
      Offers
    </h2>
    <div class="offers-block__grid">
      <div class="card">
        <div class="card-image">
          <img src="/assets/images/chicago.jpg" alt="banner image">
        </div>
        <div class="card-content">
          <p class="card-content__city">Chicago</p>
          <p class="card-content__price">From $600.00</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="/assets/images/porto.jpg" alt="banner image">
        </div>
        <div class="card-content">
          <p class="card-content__city">Porte</p>
          <p class="card-content__price">From $600.00</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="/assets/images/mire.jpg" alt="banner image">
        </div>
        <div class="card-content">
          <p class="card-content__city">Chicago</p>
          <p class="card-content__price">From $600.00</p>
        </div>
      </div>
    </div>
  </div>
</section>
