<section class="offers-block">
  <div class="container">
    <h2 class="offers-block__title">
      Offers
    </h2>
    <div class="offers-block__grid">
      <article class="card" *ngFor="let card of cardPlace">
        <div class="card-image">
          <img [src]="card.image" alt="banner image of place">
        </div>
        <div class="card-content">
          <h3 class="card-content__city">{{card.city}}</h3>
          <h4 class="card-content__price">From {{card.price}}</h4>
        </div>
      </article>
    </div>
  </div>
</section>
