<section class="offers-block">
  <div class="container">
    <h2 class="offers-block__title">
      Offers
    </h2>
    <div class="offers-block__grid">
      <div class="card" *ngFor="let card of cardPlace">
        <div class="card-image">
          <img [src]="card.image" width="{{card.imageWidth}}" height="{{card.imageHeight}}" alt="banner image">
        </div>
        <div class="card-content">
          <p class="card-content__city">{{card.city}}</p>
          <p class="card-content__price">From {{card.price}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
