<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="logo">
        <a href="/" aria-label="go to home web site">
          <img src="/assets/images/logo.svg" width="154" height="49" alt="Logo AirLine to the people">
        </a>
      </div>
      <div class="menu-content">
        <nav class="menu-content__network">
          <p class="subtitle">Follow us</p>
          <ul class="menu-list">
            <li class="menu-list__item"><a href="" aria-label="go to Twitter page" target="_blank"><i class="icon-Twitter"></i>Twitter</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Facebook page" target="_blank"><i class="icon-Facebook"></i>Facebook</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to You tube page" target="_blank"><i class="icon-youtube-outline"></i>You Tube</a></li>
          </ul>
        </nav>
        <nav class="menu-content__list">
          <p class="subtitle">Destinations</p>
          <ul class="menu-list">
            <li class="menu-list__item"><a href="" aria-label="go to Madrid page">Madrid</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Barceona page">Barcelona</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to London page">London</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Paris page">Paris</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Rome page">Rome</a></li>
          </ul>
        </nav>
        <nav class="menu-content__list">
          <p class="subtitle">Legal information</p>
          <ul class="menu-list">
            <li class="menu-list__item"><a href="" aria-label="go to Privacy policy page">Privacy policy</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Cookie policies page">Cookie policies</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to data treatment page">data treatment</a></li>
          </ul>
        </nav>
        <nav class="menu-content__list">
          <p class="subtitle">Book your flight</p>
          <ul class="menu-list">
            <li class="menu-list__item"><a href="" aria-label="go to Search flights page">Search flights</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Price calendar page">Price calendar</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Destination map page">Destination map</a></li>
            <li class="menu-list__item"><a href="" aria-label="go to Flight times page">Flight times</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <nav class="container">
      <ul class="footer__menu legal__menu">
        <li class="legal__menu-item"><a href="" aria-label="go to Website terms of use page">Website terms of use</a></li>
        <li class="legal__menu-item"><a href="" aria-label="go to Site map page">Site map</a></li>
        <li class="legal__menu-item"><a href="" aria-label="go to environment page">environment</a></li>
        <li class="legal__menu-item"><a href="mailto:contact@arilines.com" aria-label="go to mail">contact@arilines.com</a></li>
      </ul>
    </nav>
  </div>
</footer>
